<% include ../partials/headerUser %>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.js"></script>

  <div class='row' style='margin-top:20px;'>
    <div class='col-lg-2' align='RIGHT'>  
      <nav aria-label="...">
          <ul class="pager">
            <li class='disabled'><a href="#">View by Users</a></li>
            <hr />
            <li class="active"><a href='/index/<%=user.username%>/groups/' style='background: #0084b4; color: white;'>View by Groups</a></li>
          </ul>
      </nav>
      
    </div> 
    
    
    
    
    
    <div class='col-lg-4 col-lg-offset-2' align='centre'>
          <div class = 'jumbotron' align='center' style=' background:#ffffff; border: solid 0.5px #0084b4; border-radius: 10px; color: #0084b4; margin-bottom: 30px;'>
              <h4>
                   Showing All (<%=users.length%>) Users<br /><br />
              </h4>
          </div>
    </div>
  </div>
  
  <div class = 'container' style='width:100%; padding: 50px; max-height: 540px; overflow:auto;'>
    <div class='row' style='margin-bottom:20px;'>
        <% users.forEach(function(user){ %>
          <div class='col-lg-4'>
            <div class="container">
               <div class="row">
                <div class="col-md-4">
                    <div class="well well-sm" style='background:#c0deed;'>
                        <div class="media" style='margin-bottom:-10px;'>
                            <div class="pull-left" style='width: 100px; height: 60px; padding: 0px; border: 0px; background: #c0deed;'>
                                <img class="media-object" style='margin: 0px; padding-right: 10px; max-width:100%; max-height:100px;' src="/profile/funny-profile-pictures.jpg">
                            </div>
                            <div class="media-body">
                            <h4 class="media-heading"><%=user.name.slice(0,1).toUpperCase() + user.name.slice(1) %><form class='pull-right' action='/index/<%=user.username%>/?_method=DELETE' method='POST'> 
                                    <button type='submit' style='background: none; border: none;'><span class="btn-xs btn-danger glyphicon glyphicon-warning-sign"></span></a>
                                </form></h4>
                            <p>
                                <span class="label label-info"><%=user.notifs.length%> Notifications </span> 
                            <p>
                                <a href="/index/<%=user.username%>" class="btn btn-xs btn-success"><span class="glyphicon glyphicon-eye-open"></span> View</a>
                                <a href='/index/<%=user.username%>/messages/personal' class="btn btn-xs btn-warning"><span class="glyphicon glyphicon-comment"></span> Message</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% });%>

</div>
</div>

<% if (firstContact){ %>
    <!-- Greeting & Notifications Modal START -->
        <div class="modal fade bs-example-modal-lg" id="greet" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                  <div class="modal-body">
                    <% include ../partials/notifsWelcome %>
                  </div>
              </div>
          </div>
         </div>            
    <!-- Greeting & Notifications Modal END -->
<% } %>

<script>
        
    $(document).ready(function(){
        // Taking the date from the DB and converting to local time zone and to desired format
        var spansList = $('.comment > .timestring');
    
        $.each(spansList, function( i, val ) {
              var timeDateText = $(val).text();
              var momentObj = moment(timeDateText);
              var timespent = momentObj.fromNow(); /// We have our String e.g. 5 seconds ago, a year ago ...
              $(this).text(timespent);
        });
        
        $('#greet').modal('show');
    });
</script>


