<% include ../partials/headerUser %>
    <div class='new' align='center'>
        <input class="search" id="search-bar" placeholder="Search for a Task">
    </div>

    <div class='row' style='padding: 2%;'>
        <div class='col-xs-12' align='center'>
            <div class="container bootstrap snippet">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="main-box no-header clearfix">
                            <div class="main-box-body clearfix">
                                <div class="table-responsive">

                                    <!-- Insert any table of this format -->
                                    <table id="searchable-table" class="table group-list">
                                        <thead>
                                            <tr>
                                                <th style='text-align: left; padding-left: 20px;'>
                                                    <span>Tasks </span>
                                                    <button type='button' class='naming button-with-text' id='' name='new task' value='/index/<%=user.username%>/tasks/new'>(Create New)</button>
                                                </th>
                                                <th><span>Created</span></th>
                                                <th><span>Last Edited</span></th>
                                                <th>Users</th>
                                                <th>Options</th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            <div class='row'>
                                                <div class='col-xs-12'>

                                                    <% tasks.reverse().forEach(function(task){ %>
                                                        <% var d = new Date(task['dateCreated']); %>
                                                            <% var d_edit = new Date(task['dateEdited']); %>

                                                                <tr id='<%=task._id%>'>
                                                                    <td id='<%=task.title%>' value='<%=task._id%>' style='padding-left: 20px; padding-right: 20px;'>
                                                                        <span style='font-size: 20px;'><%= task.title.slice(0,40) %></a>
                                                        </td>

                                                        <td>
                                                            <div class='comment'>
                                                            <span class='timestring text-muted '><%= d.toISOString() %></span>
                                                </div>
                                                </td>

                                                <td>
                                                    <div class='comment'>
                                                        <span class='timestring text-muted '><%= d_edit.toISOString() %></span>
                                                    </div>
                                                </td>

                                                <td class="text-center">
                                                    <a href='#task-users<%=task._id%>' title="Assign Users" data-toggle="modal" data-target='#task-users<%=task._id%>' class="label label-info" style='background-color:#0a6884; color: white;'>
                                                        <%=task.taskSubscribers.length%> users</a>
                                                    <% include ../modals/modalViewUsersTask %>
                                                </td>

                                                <td class='buttons' style="width: 20%;">
                                                    <button type='button' title="Edit Task" class='btn btn-sm glyphicon glyphicon-pencil' onclick="window.location.href='/index/<%=user.username%>/tasks/<%=task._id%>/edit'"></button>

                                                    <button type='button' title="See user-submitted work" class='btn btn-sm glyphicon glyphicon-eye-open' onclick="window.location.href='/index/<%=user.username%>/tasks/<%=task._id%>/preview'"></button>

                                                    <button type='button' title="Assign Users" data-toggle="modal" data-target="#task-users-dashboard<%=task._id%>" class='btn btn-sm glyphicon glyphicon-user' data-backdrop="static" data-keyboard="false"></button>
                                                    <% include ../modals/modalManageUsersTask %>

                                                        <button type='button' value='/index/<%=user.username%>/tasks/<%=task._id%>?_method=Delete' name='<%=task.title%>' class='deletion btn btn-sm glyphicon glyphicon-trash'></button>
                                                </td>

                                                </tr>

                                                <% });%>
                                            </div>
                                </div>

                                </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    </div>


    <script src='/scripts/search-bar.js'></script>

    <script src='/scripts/tingle/deleteConfirmationReusable.js'></script>


    <style>
        /* Search bar and buttons CSS */

        .new input {
            border-radius: 25px;
            padding: 0.8% 1.2%;
            background-color: white;
            border: solid 1px rgba(0, 0, 0, 0.2);
            width: 35%;
            box-sizing: border-box;
            color: #3e9ddc;
            margin-bottom: 5px;
            text-align: center;
        }

        input:focus,
        textarea,
        button:focus {
            outline: none !important;
        }

        .new button {
            font-size: 100%;
            padding: 5px 15px;
            border-radius: 25px;
            border: none;
            text-decoration: none;
            margin: 2px 0;
        }

        a:link,
        a:visited,
        a:hover,
        a:active {
            color: #3498db;
            text-decoration: none;
        }

        ::-webkit-input-placeholder {
            /* Chrome/Opera/Safari */
            color: #777777b8;

        }

        ::-moz-placeholder {
            /* Firefox 19+ */
            color: #777777b8;

        }

        :-ms-input-placeholder {
            /* IE 10+ */
            color: #777777b8;

        }

        :-moz-placeholder {
            /* Firefox 18- */
            color: #777777b8;

        }
    </style>

    <style>
        /*  The Table CSS */

        tbody>tr>td {
            vertical-align: middle;
            text-align: center;
        }

        body {
            background: #eee;
        }

        .main-box.no-header {
            padding-top: 20px;
        }

        .main-box {
            background: #eeeeee;
            height: 80%;
            overflow: auto;
        }

        .label {
            border-radius: 3px;
            font-size: 0.875em;
            font-weight: 600;
        }

        tr>th {
            text-align: center;
            text-transform: uppercase;
            font-size: 0.875em;
            border-bottom: 2px solid #e7ebee;
        }

        /* Widths of columns */

        tr>td:first-child {
            font-weight: 300;
            width: 10%;
            text-align: left;
        }

        tr>td:nth-child(2) {
            width: 15%;
        }

        tr>td:nth-child(3) {
            width: 15%;
        }

        tr>td {
            font-size: 0.875em;
            padding: 12px 8px;
            background-color: #ffffff;
        }
    </style>

    <style>

    .button-with-text {
        border: none;
        background: none;
        padding: 0;
        color: #3498dc;
    }


    </style>


    <script>

    // Shows modals for inserting or editing the name of a new or existing object
    // Interface:
    // Buttons for this modal need:
    //    class='naming' since other buttons are for post, get etc etc (may also have other classes tied in)
    //    name='type of object being edited or created' e.g. 'group' or 'task' etc, to use in the prompt
    //    value='url' where to post the form
    //    id='existing name if editing, else empty'

    let buttonChosen;

    let modalNaming = new tingle.modal({
        footer: true,
        stickyFooter: false,
        cssClass: ['modal-naming'],
        closeMethods: [],
        onClose: function() {
            // Reset content
            modalNaming.setContent('');
            return;
        }
    });

    $('button').click(function(e){
        if ($(this).hasClass('naming')) {
            buttonChosen = $(this);
            modalNaming.open();
            modalNaming.setContent(
                "<div> Enter a <b>name</b> for the " + $(this).attr('name') + ": </div>" +
                "<div style='padding-top: 5%; margin-bottom: -5%;'>" +
                    "<form action='" + buttonChosen.val() + "' method='POST'>" +
                        "<input name='title' type='text' class='search' style='width:80%; color: black;' value='" + $(this).attr('id') + "' onfocus='this.setSelectionRange(0, this.value.length)' required />" +
                        "<button id='naming-form-submit' type='submit' style='visibility:hidden;'></button>" +
                    "</form>" +
                 "</div>"
            );
            $('input[name=title]').focus();
        }
    });

    modalNaming.addFooterBtn('Done', 'tingle-btn tingle-btn--primary', function() {
        // Need to submit form through a classic submit button to make use of the 'required' property of input fields
        // Otherwise form can be sent blank as well
        $('#naming-form-submit').click();
        return;
    });

    modalNaming.addFooterBtn('Dismiss', 'tingle-btn tingle-btn--danger', function() {
        modalNaming.close();
    });


    </script>
