<div class="modal fade bs-example-modal-lg" id="task-users<%=task._id%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"></button>
                <h4 class="modal-title">Managing users assigned to '<%=task.title%>'</h4>
            </div>


            <div class="modal-body">

                <form id='<%=task._id%>' action='/index/<%=user.username%>/tasks/<%=task._id%>/users?_method=PUT' method='POST' align='center'>
                <div class='row'>

                    <div class='col-xs-6' style='overflow:auto; height: 80%; margin-bottom: 5%;'>

                            <label>Assigned (Choose user to view submissions)</label>

                            <table id="myTable" class="table user-list" >
                                <tbody style='overflow:auto;'>

                                    <div class='row'>
                                        <div class='col-xs-12'>

                                            <% task.users.forEach(function(thisUser){ %>
                                                <% d = new Date(thisUser.lastLoggedIn) %>
                                                    <tr>
                                                        <td style='padding-left: 20px;' id='<%=thisUser.name%>'>
                                                            <img src="https://bootdey.com/img/Content/user_1.jpg" alt="">
                                                            <a href="/index/<%=thisUser.username%>/tasks/<%=task._id%>" class="user-link" style="font-size:20px;">
                                                                <%=thisUser.name.slice(0,1).toUpperCase() + thisUser.name.slice(1)%>
                                                            </a>
                                                            <span class="user-subhead"><% if (thisUser.admin){ %>admin<% }else{ %>user <% } %> </span>
                                                        </td>

                                                        <td id='<%=thisUser.name%>'>
                                                            <div>
                                                            <input type="checkbox" value='<%=thisUser._id%>' name="outgoing" class="intoout" />
                                                            </div>
                                                        </td>
                                                    </tr>

                                            <% });%>
                                        </div>
                                    </div>

                                </tbody>
                            </table>

                    </div>





                    <div class='col-xs-6'  style='overflow:auto; max-height: 80%; margin-bottom: 5%;'>

                            <label>NOT Assigned</label>

                            <table id="myTable" class="table user-list" >
                                <tbody style='overflow:auto;'>

                                    <div class='row'>
                                        <div class='col-xs-12'>

                                            <% var taskUserIds = task.users.map((user) => { return String(user._id) }) %>

                                            <% users.forEach(function(thisUser){ %>
                                                <% if (!taskUserIds.includes(String(thisUser._id))) { %>

                                                <% d = new Date(thisUser.lastLoggedIn) %>
                                                    <tr>
                                                        <td style='padding-left: 20px;'>
                                                            <img src="https://bootdey.com/img/Content/user_1.jpg" alt="">
                                                            <a href="#" class="user-link" style="font-size:20px; color:black;">
                                                                <%=thisUser.name.slice(0,1).toUpperCase() + thisUser.name.slice(1)%>
                                                            </a>
                                                            <span class="user-subhead"><% if (thisUser.admin){ %>admin<% }else{ %>user <% } %> </span>
                                                        </td>

                                                        <td>
                                                            <div>
                                                            <input type="checkbox" name="incoming" value='<%=thisUser._id%>' class="neutral" />
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <% }%>
                                                <% });%>
                                        </div>
                                    </div>

                                </tbody>
                            </table>


                    </div>

                </div>
                <button id='<%=task._id%>' type='submit' class="btn btn-final btn-success" style='border:0'> Confirm</button>
                </form>
                </div>



            </div>
        </div>
    </div>
</div>

<style>

input[type='checkbox'] {
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    -webkit-appearance: button;
    border: none;
    background: url(http://www.pixelslip.be/img/check.png) no-repeat 0 0 transparent;
    background-color: #ccc;
    width: 48px;
    height: 20px;
    border-radius: 3px;
    box-shadow: inset 0 1px 4px rgba(0,0,0,.2);
    cursor: pointer;
    position: relative;
    transition: background-color 1s;
}
input[type='checkbox'].intoout{
   background-color: #f3baac;
}

input[type='checkbox'].neutral{
   background-color: #98e098;
}

input[type='checkbox']:after{
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 45%;
  height: 80%;
  background-color: #fdfdfd;
  margin: 4%;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0,0,0,.2);

  background: rgb(255,255,255);
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(216,216,216,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(216,216,216,1)));
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(216,216,216,1) 100%);
background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(216,216,216,1) 100%);
background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(216,216,216,1) 100%);
background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(216,216,216,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f3f3f3',GradientType=0 );
 transition: .5s all;
}

input[type='checkbox']:checked{
  background-color: #2fbf2f;
}

input[type='checkbox'].intoout:checked{
  background-color: #ec3824;
}

input[type='checkbox']:checked:after {
  left: 45%;
}
</style>


<style>
    /* Stuff other thn checkboxes */
    #myTable {
        overflow: auto;
    }

    .modal-body {
        /* padding-bottom: 65%; */
        height: 80%;
    }

    /*  The Table CSS */

    body {
        background: #eee;
    }

    .table a.table-link.danger {
        color: #e74c3c;
    }

    .label {
        border-radius: 3px;
        font-size: 0.875em;
        font-weight: 600;
    }

    .user-list tbody td .user-subhead {
        font-size: 0.875em;
        font-style: italic;
    }

    .user-list tbody td .user-link {
        display: block;
        font-size: 1.25em;
        padding-top: 3px;
        margin-left: 60px;
    }

    a {
        color: #3498db;
        outline: none !important;
    }

    .user-list tbody td>img {
        position: relative;
        max-width: 50px;
        max-height: 50px;
        float: left;
        margin-right: 15px;
    }

    .table thead tr th {
        text-transform: uppercase;
        font-size: 0.875em;
        border-bottom: 2px solid #e7ebee;
    }

    .table tbody tr td:first-child {
        font-size: 1.125em;
        font-weight: 300;
        width: 35%;
    }

    .table tbody tr td:nth-child(2) {
        width: 15%;
    }

    .table tbody tr td {
        font-size: 0.875em;
        vertical-align: middle;
        border-top: 1px solid #e7ebee;
        padding: 12px 8px;
        background-color: #ffffff;
    }
</style>
