<div class="modal fade bs-example-modal-lg" id="delete-<%=group._id%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" align='center' role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h4 style='color:#2563ab;' class="modal-title" id="myModalLabel">Are you sure you want to delete the group: '<%= group.name %>'?</h4>
            </div>

            <div class="modal-body">
                <form style='text-align:center' action='/index/<%=user.username%>/groups/<%=group._id%>?_method=DELETE' method='POST' enctype='multipart/form-data'>
                    <button type="button" data-toggle="modal" data-target="#delete-<%=group._id%>" class="btn btn-danger glyphicon glyphicon-remove"></button>
                    <button type="submit" class="btn btn-success glyphicon glyphicon-ok"></button>
                </form>
            </div>




        </div>
    </div>
</div>
