<ul class="list-group" style='height:100%; overflow:auto;'>
    <li class="list-group-item" align='center'>
        <a href='/index/<%=client.username%>/submit' class='pull-right btn-xs btn-warning'><span class='glyphicon glyphicon-plus'></span> Create Thread</a>
        <h4 style='margin-top:5%;' class='info'>Assignment Threads</h4>
    </li>
    <% subs.forEach(function(sub){ %>
        <% var d = new Date(sub['date']); %>
        <a href='/index/<%=client.username%>/submit/<%=sub._id%>' class="list-group-item" align='center'>
        <div class='comment'> <span class='timestring text-muted pull-left '><%= d.toISOString() %></span> </div>
        <span class="label label-success pull-right"><%=sub['adds'].length%> files</span>
        <span class="label label-info pull-right"><%=sub['messages'].length%><%if (sub['messages'].length > 1) {%> comments <% } else { %> comment <% } %></span>
        <h4 style='margin-top: 7%;'><%= sub['title']%></h4>
        </a>
    <% }); %>
</ul>

