<html>
    <head style='margin:0;'>
        <!-- JQUERY -->
        <script
        src="https://code.jquery.com/jquery-3.1.1.slim.js"
        integrity="sha256-5i/mQ300M779N2OVDrl16lbohwXNUdzL/R2aVUXyXWA="
        crossorigin="anonymous"></script>
  
        <!-- BOOTSTRAP -->
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

        
        <title>
            StudyUSA
        </title>
    </head>
    <body>
    <div class='row'>
      <div class='col-lg-12'>

<nav class="navbar navbar-default " style="margin-bottom:50px; background: #0084b4; border:0; border-radius: 0px;">
<div class='container'>
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" rel="home" href="#" title="Buy Sell Rent Everyting">
        <img style="max-width:100px; margin-top: -7px;"
             src="/images/logo.png">
      </a>
      <a class="navbar-brand" href="/index" style='color: #FFFFFF;'>StudyUSA</a>
    </div>




  
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <% if (!loggedIn) { %>
        <li><a href='#' style='color: #FFFFFF;'>About</a></li>
        <li><a href='/index/new' style='color: #FFFFFF;'>Sign Up</a></li>
        <% } else { %>
          <% if (!user.admin){ %>
        <li id='dashboard' ><a href='/index/<%=client.username%>' id='dashboardtxt' style='color: #FFFFFF;'>Dashboard</a></li>
        <li><a href='/index/<%=client.username%>/notifs' style='color: #FFFFFF;'>Notifications</a></li>
        <li id='pay'><a href='/index/<%=user.username%>/pay' id='paytxt' style='color: #FFFFFF;'>Payment</a></li>
        <li id='messages' class="dropdown">
          <a href="#" id='messagestxt' class="dropdown-toggle" style='color: #FFFFFF;' data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            Messages             
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" style='padding:0px;'>
            <li id='personal' style='background: #0084b4;'><a href='/index/<%=user.username%>/messages/personal' align='center'  style='color: #FFFFFF;' id='personaltxt'>Personal</a></li>
            <% if(user.group != "noGroup"){ %>
              <li id='group' style='background: #0084b4;'><a href='/index/<%=user.username%>/messages/group' align='center' style='color: #FFFFFF;' id='grouptxt'>Group</a></li>
            <% } %>
          </ul>
        </li>
        <% } else { %>
          <li><a href='/index/<%=user.username%>' style='color: #FFFFFF;'>Dashboard</a></li>
          <li><a href='/index/<%=client.username%>/notifs' style='color: #FFFFFF;'>Notifications</a></li>
        <% } %>
        <li><a href='/logout' style='color: #FFFFFF;'>Log Out</a></li> 
        <% } %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<% if (error.length > 0){ %>
<div class='row'>
    <div class='container' style='width: 60%;'>
      <div class="alert alert-danger alert" role="alert">
        <h5 align='center'><%= error%></h5>
      </div>  
    </div>
</div>
<% } %>
<% if (success.length > 0){ %>
<div class='row'>
    <div class='container' style='width: 60%;'>
      <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;
          </span>
        </button>
        <h5 align='center'><%= success %></h5>
      </div>  
    </div>
</div>
<% } %>


<div class='row'>
    <div class='col-lg-12'> <!-- A bootstrap grid row and full column is initialized -->