<div class='row'>
    <div class='col-xs-12'>
      <nav class="navbar navbar-default " style="margin-bottom:50px; background: rgb(41, 98, 147); border:0; border-radius: 0px;">
        <div class='container'>
          <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <a class="navbar-brand" rel="home" href="#" title="Buy Sell Rent Everyting">
                <img style="max-width:100px; margin-top: -7px;" src="/public/images/logo.png">
              </a>
              <a class="navbar-brand" href="/index" style='color: #FFFFFF;'>StudyUSA</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <% if (!loggedIn) { %>
                  <li><a href='/index/' style='color: #FFFFFF;'>Login</a></li>
                  <li><a href='/index/new' style='color: #FFFFFF;'>Sign Up</a></li>
                <% } else { %>
                  <% if (!user.admin){ %>
                    <li id='dashboard' ><a href='/index/<%=user.username%>' id='dashboardtxt' style='color: #FFFFFF;'>Dashboard</a></li>
                    <li id='notifs'><a href='/index/<%=user.username%>/notifs' id='notifstxt' style='color: #FFFFFF;'>Notifications</a></li>
                    <li id='pay'><a href='/index/<%=user.username%>/pay' id='paytxt' style='color: #FFFFFF;'>Payment</a></li>
                    <li id='tasks'><a href='/index/<%=user.username%>/tasks' style='color: #FFFFFF;'>Tasks</a></li>
                    <li id='messages' class="dropdown">
                      <a href="#" id='messagestxt' class="dropdown-toggle" style='color: #FFFFFF;' data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        Messages
                        <span class="caret"></span>
                      </a>
                      <ul class="dropdown-menu" style='padding:0px;'>
                        <li id='personal' style='background: #0084b4;'><a href='/index/<%=user.username%>/messages/personal' align='center'  style='color: #FFFFFF;' id='personaltxt'>Personal</a></li>
                        <% if(typeof user.group != 'undefined'){ %>
                          <li id='group' style='background: #0084b4;'><a href='/index/<%=user.username%>/groups/<%=user.group._id%>/messages' align='center' style='color: #FFFFFF;' id='grouptxt'>Group</a></li>
                        <% } %>
                      </ul>
                    </li>
                  <% } else { %>
                    <li id='dashboard'><a href='/index/<%=user.username%>' id='dashboardtxt' style='color: #FFFFFF;'>Admin Control Panel</a></li>
                    <li id='notifs'><a href='/index/<%=user.username%>/notifs' id='notifstxt' style='color: #FFFFFF;'>Admin Notifications</a></li>
                    <li id='tasks'><a href='/index/<%=user.username%>/tasks' style='color: #FFFFFF;'>Tasks</a></li>
                  <% } %>
                  <li><a href='/logout' style='color: #FFFFFF;'>Log Out</a></li>
                <% } %>
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </div>
      </nav>
    </div>
</div>
