<div class='row' style='margin-right:3%; margin-left:0.5%; margin-bottom:3%; margin-top:5%'>
    <form action='/index/<%=user.username%>/tasks/<%=task._id%>/comments/<%=taskSubscriber.user._id%>' id='commentForm' method='POST'>
        <div style='width:auto; height:auto; background-color:white;'>
                <textarea class="form-control" placeholder="Enter comment here..." rows="5" name='textareacontent' style='border:none; margin-bottom:1%; background-color:#fbffff;'></textarea>
                <button type='submit' class="btn btn-info btn-xs pull-right" id='post' name='butt'>Post</button>
        </div>
    </form>
</div>


<div class="main-box-body clearfix" style='height:80vh; overflow:auto;'>
    <table class="table">


            <% if (taskSubscriber.comments.length > 0) { %>
                <% taskSubscriber.comments.reverse().forEach(function(comment){ %>

                    <% var d = new Date(comment['date']); %>

                        <tr>
                            <td class='comment'>
                                <div style='float: left;'>
                                    <img src="https://bootdey.com/img/Content/user_1.jpg" style='height: 50px; width: 50px;'>
                                </div>

                                <div style='float: left; padding-left: 2%;'>
                                    <div style='float: left;'>
                                        <span><a href="#" style='font-size: 14px;'>
                                            <%= comment.author.name %>
                                        </a></span>
                                    </div>
                                    <div class='comment' style='float: left; clear: left;'>
                                        <span class='timestring text-muted ' style='font-size: 11px;'><%=d.toISOString()%></span>
                                    </div>
                                </div>


                                <div class='comment-content' style = 'text-align: justify; text-justify: inter-word;'>
                                    <%= comment.content %>
                                </div>
                            </td>

                            <td style='vertical-align: top;'>
                                <% include ../modals/modalTaskCommentButtonGroup %>
                            </td>
                        </tr>

                <% }); %>
            <% } %>



    </table>
</div>


<style>
    #post {
        border-radius: 5.2px;
        border: 1px solid #31cbe0;
    }

    .comment-content {
        padding-top:2%;
        width: 140%;
        color: #636484;
        font-size: 11px;
        font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
        float: left;
        clear: left;
    }

    a {
        color: #3498db;
        outline: none !important;
    }

    /* Width and other config for comment text and img and how they interact */
    .table tr td:first-child {
        font-weight: 300;
        width: 35%;
    }

    .table tr td:nth-child(2) {
        width: 15%;
    }

</style>
