<div style='height: 56%; overflow:auto;'>
    <table id='quick-view' class="table user-list" style='overflow:auto;' >
        <tbody style='overflow:auto;'>


            <% task.taskSubscribers.forEach(function(taskSubscriber){ %>
                    <tr align='center'>
                        <td id='<%=taskSubscriber.user.name%>'>
                            <div>
                                <img src="https://bootdey.com/img/Content/user_1.jpg" alt="">
                            </div>
                            <div>
                            <a href="/index/<%=viewer.username%>/tasks/<%=task._id%>/dashboard/<%=taskSubscriber.user._id%>" class="user-link" style="font-size:12px;">
                                <%=taskSubscriber.user.name.slice(0,1).toUpperCase() + taskSubscriber.user.name.slice(1)%>
                            </a>
                            </div>
                        </td>
                    </tr>
            <% });%>

        </tbody>
    </table>
</div>

<style>
    /* Stuff other thn checkboxes */
    #quick-view {
        overflow: auto;
    }

    a {
        color: #3498db;
        outline: none !important;
    }

    img {
        max-width: 50px;
        max-height: 50px;
    }

    tbody tr td {
        font-size: 1.125em;
        font-weight: 300;
        width: 5%;
        background-color: #ffffff;
    }



</style>
