<div class="twt-wrapper" style='float:left;' >
    <div class="panel panel-info" style='margin-top:0px;'>
        <div class="panel-body" style='border: 0.5px #aee3ee;'>
            <div class='container' style='background:#FFFFFF; width: 100%; float:left;'> 
                <h5> Files Uploaded </h5>
            </div>
            <div class='container' style='background:#FFFFFF; width: 100%; float:left;'> 
                <span class="text-muted">
                    <small class="text-muted">Newest</small><br /><br />
                </span>
                <br />
                <div  style='max-height:464px; overflow:auto;'>
                <% var adds = sub['adds'].reverse(); %>
                <% adds.forEach(function(add){ %>
                    <div class='container file' style='background:#FFFFFF; width: 100%; float:left;'> 
                        <!-- Link trigger modal -->
                        <a href='#' data-toggle="modal" data-target="#<%=add['_id']%>" style="text-decoration:none">

                        <%=add['file']%>
                        </a><br />(Author: <%= add['author'] %>)<hr />
                        <!-- END Link trigger modal -->

                        <!-- Modal -->
                        <div class="modal fade bs-example-modal-sm" id="<%=add['_id']%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                            <div class="modal-dialog modal-sm" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal"aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h5 style='color:#2563ab;' class="modal-title" id="myModalLabel">File: <%=add['file']%></h5>
                                    </div>
                                    <div class="modal-body">
                                        <ul class="media-list">
                                            <li class="media">
                                                <h5>Author: <%= add['author'] %></h5>
                                                <h5>File Type: <%=add['ext']%> </h5>
                                            </li>
                                        </ul>
                                    </div>
                                    
                                    
                                    <div class="modal-body" align='center'>
                                        <button id='downloadAdd' value="<%=add['file']%>" class="btn btn-xs btn-info" style='padding:5px;'>Download <span class='glyphicon glyphicon-download'></span></a>
                                        
                                        <% if(user['username'] == add['author'] && user['admin']){ %>
                                            <form method='POST' action='/index/<%=client.username%>/submit/<%=sub['_id']%>/adds/<%=add['_id']%>?_method=DELETE' style='display:inline;'>
                                                <button type="submit" class='btn btn-xs btn-danger' style='padding:5px;'>Delete <span class='glyphicon glyphicon-trash'></span></button>     
                                            </form>
                                        <% } %>
                                    </div>
                                    
                                    
                                    
                                </div>
                            </div>
                        </div>             
                        <!-- END Modal -->
                        
                        <% add['author']%>
                    </div>
                
                <% }); %>
                </div>
                <span class="text-muted">
                     <h6>&nbsp;</h6>
                    <small class="text-muted">Oldest<br /><br />Scroll to see More</small>
                </span>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="/front-end/frontEndS3Download.js"></script>