<% include ./partials/headerUser %>

<div class='row'>
    <div class='col-xs-12 col-md-12' style='margin-top: -3%;' align='center'>

        <div id='titleString' style='font-family: "Varela Round", sans-serif;'>
            <!-- titleStringHTML goes here -->
        </div>

        <div id='additionalText' style=''>
            <!-- additionalTextHTML goes here -->
        </div>

        <button class='message-button tingle-btn tingle-btn--primary' message='Entering fullscreen Mode. No stress, your work will still be autosaved! <break> Press ESCAPE anytime on your keyboard to escape fullscreen mode.'>Click for Fullscreen Mode</button>

        <div>  <!-- TODO: Make it into a Modal to say autosave before starting ALSO change message  of initial word processor (Hi Anja... etc) -->
            <h6> All your work is <strong>autosaved</strong> and you can safely exit the page and return at any time.
                When ready, go back to the <a href='/index/<%=user.username%>/tasks/<%=task._id%>/dashboard/<%=student._id%>'>Task Dashboard</a>
                and click <strong>'Publish'</strong> to submit your work.</h6>
        </div>

    </div>
</div>

<div class='row'>
    <div class='col-xs-12' style='max-width: 90%; margin-left: 5%;' align='center'>
        <form id='form-submit' action='/index/<%=user.username%>/tasks/<%=task._id%>/responses/<%=student._id%>?_method=PUT' method='POST' enctype='multipart/form-data'>
            <textarea name='workspaceContent' id='area' style='margin-bottom:5%;'><%=workspace.content%></textarea>
        </form>
    </div>
</div>


<style>

/* Common to whole project */
input:focus, textarea, button:focus {
    outline: none !important;
}

/* Common to whole project */
body{
    background:#eee;
}

.unbroken-title {
    display: inline;
}

h6 {
    font-family: "Varela Round", sans-serif;
}

a:link,
a:visited,
a:hover,
a:active
{
   color: #3498db;;
   text-decoration: none;
}

</style>


<style>

.modal-message {
    text-align:center;
}

.message-div{
    padding-bottom: 1%;
}

</style>


<script>

// Grab back-end variables ad Browserify throws an error on seeing percentage sign
let user = <%-JSON.stringify(user)%>;
let task = <%-JSON.stringify(task)%>;
let student = <%-JSON.stringify(student)%>;
let workspace = <%-JSON.stringify(workspace)%>;

</script>

<script src='/dist/common.js'></script>
<script src='/dist/entrypoints/taskRespond.js'></script>
