<% include ./partials/headerUser %>

    <div class='row'>
        <div class='col-xs-12 col-md-6 col-md-offset-3'>
            <ul class="list-group" style='height:100%; overflow:auto;'>

                <li class="list-group-item" align='center'>
                    <a href='#' id='new' class='pull-right btn-xs btn-warning'><span class='glyphicon glyphicon-plus'></span> New Task</a>
                    <h4 style='margin-top:5%;' class='info'>Tasks Created</h4>
                </li>

                <div class='row' id='new-task-form' style='display: none; margin-top:5%;'>
                    <div class='col-xs-12'>
                        <form action='/tasks/' method='POST' enctype='multipart/form-data'>
                            <label for="title">Title</label>
                            <input type="text" class="form-control" placeholder="Task Title" name='title' required style='margin-bottom:5%;'>
                            <label for="prompt">Prompt</label>
                            <textarea class="form-control" name='prompt' rows="5" placeholder="If necessary, add a prompt to guide the students." name='prompt' required style='margin-bottom:5%;'></textarea>
                            <button type="submit" class="btn btn-primary" style='background:#6666F1;'>Submit</button><br>
                        </form>
                    </div>
                </div>

                <div id='tasks-list'>
                    <% tasks.reverse().forEach(function(task){ %>
                        <% var d = new Date(task['date']); %>
                            <a href='#' class="list-group-item" align='center'>
                                <div class='comment'> <span class='timestring text-muted pull-left '>Created on <%= d.toDateString() %></span> </div>
                                <span class="label label-success pull-right"><%=task['files'].length%> files</span>
                                <span class="label label-info pull-right"><%=task['comments'].length%><%if (task['comments'].length > 1) {%> comments <% } else { %> comment <% } %></span>
                                <h4 style='margin-top: 7%;'><%= task['title']%></h4>
                                <h6 style='text-align: justify;'><%= task['prompt']%></h6>
                                <button style='border:none; background:none;' data-toggle="modal" data-target="#<%=task._id%>"><span class=' btn btn-sm btn-info glyphicon glyphicon-user'></span></button>


                                <div class="modal fade bs-example-modal-lg" id="<%=task._id%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                    <div class="modal-dialog modal-lg" role="document">
                                        <div class="modal-content">

                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal"></button>
                                                <h4 class="modal-title">Assign Tasks to '<%=task.title%>'</h4>
                                            </div>

                                            <div class="modal-body">
                                                <form action='/tasks/<%=task._id%>?_method=PUT' method='POST'>
                                                    <label>These people have not been assigned to this task.</label><br /><br />
                                                    <div class='container' style='max-height: 40%; overflow: auto;' align='center'>

                                                      <% var taskUserIds = task.users.map((user) => { return String(user._id) }) %>

                                                      <% users.forEach(function(theUser){ %>
                                                          <% if (!taskUserIds.includes(String(theUser._id))) { %>

                                                              <div style='padding: 2%;'>
                                                                   <div class='row'>
                                                                       <div class='col-xs-2'>
                                                                           <input type="checkbox" value="<%=theUser._id%>" style='margin-top:10%;' name="chk" />
                                                                       </div>
                                                                       <div class='col-xs-10' align='left'>
                                                                           <h4 style='width: 40%;'><%=theUser.name.slice(0,1).toUpperCase() + theUser.name.slice(1) %></h4>
                                                                       </div>
                                                                   </div>
                                                               </div>

                                                          <% } %>
                                                      <% });%>



                                                    </div>
                                                    <button type='submit' class="btn btn-success" style='border:0'> Confirm </button>
                                                </form>
                                            </div>


                                        </div>
                                    </div>
                                </div>




                            </a>
                    <% }); %>
                </div>

            </ul>
        </div>
    </div>







    <script>
    $('#new').click(function(){
        var newTaskForm = document.getElementById("new-task-form");
        var tasksList = document.getElementById("tasks-list");

        if (newTaskForm.style.display === "none") {
            newTaskForm.style.display = "block";
            tasksList.style.display = "none";
        } else {
            newTaskForm.style.display = "none";
            tasksList.style.display = "block";
        }
    });
    </script>
