<% include ./partials/headerUser %>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.js"></script>

<div class='row'>
    
    <nav aria-label="..." style='margin-top:-30px; margin-bottom: 30px; margin-left: 20px;'>
      <ul class="pager">
        <li class="previous"><a href='/index/<%=client.username%>'><span aria-hidden="true">&larr;</span> Dashboard Main Menu </a></li>
      </ul>
    </nav>
    
    <input type='text' id='whistlerUser' value='<%=user.username%>'  style='visibility: hidden;'>
    <input type='text' id='whistlerClient' value='<%=client.username%>'  style='visibility: hidden;'>
    <input type='text' id='whistlerSubId' value='<%=sub._id%>'  style='visibility: hidden;'>
    <input type='text' id='whistlerSubTitle' value='<%=sub.title%>'  style='visibility: hidden;'>
    
    <!-- First col: Thread Info -->
    <div class='col-lg-3 col-md-3 col-sm-3 col-xsm-3'>
        <% include ./partials/threadSummaryAdd %>
    </div>
    <!-- END First col: Thread Info -->
    
    
    
    <!-- Second col: File History -->
    <div class='col-lg-3 col-md-3 col-sm-3 col-xsm-3' align='center' style='margin-left:50px; width:25%;'>
        <% include ./partials/threadList %>
    </div>
    <!-- End Second col: File History -->    




    <!-- Third col: Comments -->        
    <div class="col-3 col-3 col-sm-3 col-xsm-3" style='margin-left: 75px; width:30%;'>
        <% include ./partials/threadComments %>
    </div>
    <!-- End Third col: Comments -->  
</div>

</div>
</div>

<script>
var spansList = $('.comment > .timestring');
  
  $.each(spansList, function( i, val ) {
        var timeDateText = $(val).text();
        var momentObj = moment(timeDateText);
        var timespent = momentObj.fromNow();
        $(this).text(timespent);
  });
        // Navbar Init
        $('#dashboard').css("background-color", "#FFFFFF");
        $('#dashboardtxt').css("color", "#0084b4");                 
</script>

